body {
  background-image: url("/assets/about.png");
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-size: auto 100%;

  .container {
    padding-top: 90px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    direction: rtl;
    background-image: url("/assets/e-wave-online-logo.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;

    .pin-input {
      width: 60px;
      height: 60px;
      text-align: center;
      border-radius: 6px;
      border: 4px solid;
      font-size: 40px;
      background-color: #fff;
      @media (max-width: 992px) {
        width: 30px;
        height: 30px;
        font-size: 24px;
        border: 2px solid;
      }
    }

    .pin-input:disabled {
      opacity: 0.6;
    }

    .my-button {
      width: fit-content;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 20px;
    }

    .input-grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 992px) {
        gap: 10px;
      }

      .input-row {
        display: flex;
        gap: 15px;
        margin: auto;
        @media (max-width: 992px) {
          gap: 5px;
        }
      }
    }

    .game-over-title {
      font-size: 60px;
      color: #fff;
      @media (max-width: 992px) {
        font-size: 24px;
      }
    }
  }
}
